<nav class="navbar bg-dark navbar-dark navbar-expand-sm">
    <div class="container-fluid">
    
      <!-- Links -->
      <ul class="nav navbar-nav" style="visibility: visible;">
        <li class="nav-item">
          <a class="nav-link active" routerLink="search">Knights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="new">New</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="search" [queryParams]="{heroes:true}" >Heros</a>
        </li>
      </ul>
    </div>
    </nav>